/* pc width > 1100px */

html {
    font-size: 100%;
}

body {
    // background-color: #39495d;
    font-size: 1.5rem;
}


/* ipad pro */

@media screen and (max-width: 1024px) {
    body {
        background-color: #39495d;
        font-size: 1.4rem;
    }
}


/* ipad */

@media screen and (max-width: 768px) {
    body {
        background-color: #39495d;
        font-size: 1.3rem;
    }
}


/* iphone6 7 8 plus */

@media screen and (max-width: 414px) {
    body {
        background-color: #39495d;
        font-size: 1.25rem;
    }
}


/* iphoneX */

@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
    body {
        background-color: #39495d;
        font-size: 1.125rem;
    }
}


/* iphone6 7 8 */

@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {
    body {
        background-color: #39495d;
        font-size: 1rem;
    }
}


/* iphone5 */

@media screen and (max-width: 320px) {
    body {
        background-color: #39495d;
        font-size: 0.75rem;
    }
}

// input:-webkit-autofill, 去掉input默认填充样式
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    border: solid 1.5px #2c97de;
    box-shadow: 0 0 5px rgba(44, 151, 22, 0.2);
}